<h1> This is a starter Jupyter Notebook for this code-a-thon. </h1>

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

<p>The <b>CRDT Data - CRDT.csv</b> dataset is from The COVID Tracking Project. This dataset reflects all 51 US states and territories that have report demographic data.

In [2]:
df1 = pd.read_csv("Data/CRDT Data - CRDT.csv")
df1.head(5)

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,20210307,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210307,AL,499819.0,160347.0,82790.0,NaN,2273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210307,AR,324818.0,207596.0,50842.0,NaN,2913.0,1070.0,3358.0,1804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#explore the features of the dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 54 columns):
Date                            5320 non-null int64
State                           5320 non-null object
Cases_Total                     5088 non-null float64
Cases_White                     4668 non-null float64
Cases_Black                     4587 non-null float64
Cases_Latinx                    2072 non-null float64
Cases_Asian                     4370 non-null float64
Cases_AIAN                      3263 non-null float64
Cases_NHPI                      2181 non-null float64
Cases_Multiracial               1525 non-null float64
Cases_Other                     4472 non-null float64
Cases_Unknown                   5059 non-null float64
Cases_Ethnicity_Hispanic        4211 non-null float64
Cases_Ethnicity_NonHispanic     4211 non-null float64
Cases_Ethnicity_Unknown         4458 non-null float64
Deaths_Total                    5041 non-null float64
Deaths_White                    4501 non-null float64
Deaths_Black                    4345 non-null float64
Deaths_Latinx                   2184 non-null float64
Deaths_Asian                    4099 non-null float64
Deaths_AIAN                     2851 non-null float64
Deaths_NHPI                     1716 non-null float64
Deaths_Multiracial              1312 non-null float64
Deaths_Other                    4181 non-null float64
Deaths_Unknown                  5005 non-null float64
Deaths_Ethnicity_Hispanic       4195 non-null float64
Deaths_Ethnicity_NonHispanic    4200 non-null float64
Deaths_Ethnicity_Unknown        4421 non-null float64
Hosp_Total                      1500 non-null float64
Hosp_White                      1500 non-null float64
Hosp_Black                      1497 non-null float64
Hosp_Latinx                     904 non-null float64
Hosp_Asian                      1350 non-null float64
Hosp_AIAN                       1106 non-null float64
Hosp_NHPI                       765 non-null float64
Hosp_Multiracial                608 non-null float64
Hosp_Other                      1409 non-null float64
Hosp_Unknown                    1488 non-null float64
Hosp_Ethnicity_Hispanic         1425 non-null float64
Hosp_Ethnicity_NonHispanic      1425 non-null float64
Hosp_Ethnicity_Unknown          1448 non-null float64
Tests_Total                     563 non-null float64
Tests_White                     563 non-null float64
Tests_Black                     563 non-null float64
Tests_Latinx                    451 non-null float64
Tests_Asian                     563 non-null float64
Tests_AIAN                      459 non-null float64
Tests_NHPI                      355 non-null float64
Tests_Multiracial               251 non-null float64
Tests_Other                     563 non-null float64
Tests_Unknown                   563 non-null float64
Tests_Ethnicity_Hispanic        563 non-null float64
Tests_Ethnicity_NonHispanic     563 non-null float64
Tests_Ethnicity_Unknown         563 non-null float64
dtypes: float64(52), int64(1), object(1)
memory usage: 2.2+ MB

In [5]:
df1.Date.unique()

array([20210307, 20210303, 20210228, 20210224, 20210221, 20210217,
       20210214, 20210210, 20210207, 20210203, 20210131, 20210127,
       20210124, 20210120, 20210117, 20210113, 20210110, 20210106,
       20210103, 20201230, 20201227, 20201223, 20201220, 20201216,
       20201213, 20201209, 20201206, 20201202, 20201129, 20201125,
       20201122, 20201118, 20201115, 20201111, 20201108, 20201104,
       20201101, 20201028, 20201025, 20201021, 20201018, 20201014,
       20201011, 20201007, 20201004, 20200930, 20200927, 20200923,
       20200920, 20200916, 20200913, 20200909, 20200906, 20200902,
       20200830, 20200826, 20200823, 20200819, 20200816, 20200812,
       20200809, 20200805, 20200802, 20200729, 20200726, 20200722,
       20200719, 20200715, 20200712, 20200708, 20200705, 20200701,
       20200628, 20200624, 20200621, 20200617, 20200614, 20200610,
       20200607, 20200603, 20200531, 20200527, 20200524, 20200520,
       20200517, 20200513, 20200510, 20200506, 20200503, 20200429,
       20200426, 20200422, 20200419, 20200415, 20200412])

<p>The dates of the <b>COVID Tracking Project</b> are 04/12/2020 through 03/07/2021.</p>